
/* Fonts */

@font-face {
  font-family: CamphorPro;
  src: url(../fonts/camphor/300-light.woff);
}

@font-face {
  font-family: CamphorPro;
  src: url(../fonts/camphor/500-medium.woff);
  font-weight: bold;
}

/* Variables */

:root {
  /* http://go/colors */
  --stripe-slate1:  #32325d;
  --stripe-slate2:  #424770;
  --stripe-slate3:  #525f7f;
  --stripe-slate4:  #6b7c93;
  --stripe-slate8:  #e6ebf1;
  --stripe-slate9:  #f6f9fc;

  --stripe-cyan4:   #3297d3;
  --stripe-cyan6:   #68d4f8;

  --stripe-blue3:   #555abf;
  --stripe-cyan3:   #217ab7;
  --stripe-green3:  #159570;
  --stripe-yellow3: #ce7c3a;
  --stripe-orange3: #c85d42;
  --stripe-red3:    #c23d4b;
  --stripe-purple3: #9251ac;
  --stripe-violet3: #7356b6;

  --bg-color: var(--stripe-slate2);
  --fg-color: var(--stripe-slate9);
  --accent-color: var(--stripe-cyan6);

  --main-font: CamphorPro, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --main-font-size: 40px;

  --code-font: Menlo, Monaco, Source Code Pro, monospace;
  --code-font-size: 0.9em;

  --block-margin: 20px;

  --h1-font-size: 2.9em;
  --h2-font-size: 1.6em;
  --h3-font-size: 1.2em;
}

/* --- Global styles -------------------------- */

.reveal-viewport {
  background-image: url('../img/background-dark.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: var(--bg-color);
}

.reveal {
  font-family: var(--main-font);
  color: var(--fg-color);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: var(--main-font-size);
  font-weight: normal;
}

.reveal .slides section,
.reveal .slides section>section {
  line-height: 1.3;
  font-weight: inherit;
}

/* --- Headers -------------------------------- */

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: var(--main-font);
  color: var(--fg-color);

  margin: 0 0 var(--block-margin) 0;

  text-transform: none;
  font-weight: normal;
  line-height: 1.2;

  word-wrap: break-word;

  font-variant-ligatures: none;
}

.reveal h1 { font-size: var(--h1-font-size); }
.reveal h2 { font-size: var(--h2-font-size); }
.reveal h3 { font-size: var(--h3-font-size); }

.reveal .title {
  /* Clicking the title toggles the theme */
  cursor: pointer;
}

/* --- Layout --------------------------------- */

.reveal .slides {
  text-align: left;
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%;
}


/* --- Other typography ----------------------- */

.reveal p {
  margin: var(--block-margin) 0;
  line-height: 1.3;
}

.reveal strong,
.reveal b {
  font-weight: bold;
  color: var(--accent-color);
}

.reveal em {
  font-style: italic;
}

.reveal a {
  color: var(--accent-color);
  text-decoration: none;
}

.reveal a:hover {
  text-decoration: underline;
}

.reveal sup {
  vertical-align: super;
  font-size: smaller;
}
.reveal sub {
  vertical-align: sub;
  font-size: smaller;
}

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top;
}

.reveal small * {
  vertical-align: top;
}


/* --- Lists ---------------------------------- */

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;

  text-align: left;
  margin: 0 0 0 1em;
}

.reveal ol {
  list-style-type: decimal;
}

.reveal ol ol {
  list-style-type: lower-alpha;
}

.reveal ul {
  list-style-type: disc;
}

.reveal ul ul {
  list-style-type: square;
}

.reveal ul ul ul {
  list-style-type: circle;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px;
}

.reveal dt {
  font-weight: bold;
}

.reveal dd {
  margin-left: 40px;
}

/* --- Code ----------------------------------- */

.reveal code {
  font-family: var(--code-font);
  font-size: var(--code-font-size);
}

.reveal strong code,
.reveal b code {
  /* Strong text is already blue and monospace fonts tend to be heavier than body text. */
  font-weight: normal;
}

.reveal pre {
  display: block;
  position: relative;
  width: 100%;
  margin: var(--block-margin) initial;

  font-size: 0.55em;
  font-family: var(--code-font);
  line-height: 1.2em;

  word-wrap: break-word;
}

.reveal pre code {
  display: block;
  padding: 10px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal;
}

/* --- Quotes --------------------------------- */

.reveal blockquote {
  display: block;
  position: relative;
  width: 100%;
  padding: 0 1em;

  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
}

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block;
}

.reveal q {
  font-style: italic;
}

/* --- Tables --------------------------------- */

.reveal table {
  border-collapse: collapse;
  border-spacing: 0;
}

.reveal table th {
  font-weight: bold;
}

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid;
}

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center;
}

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right;
}

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none;
}


/* --- Images --------------------------------- */
/* Nothing for images :) */

/* --- Navigation controls -------------------- */
/* We don't even use the controls */

.reveal .controls {
  color: var(--accent-color);
}

/* --- Progress bar --------------------------- */

.reveal .progress {
  background: rgba(0,0,0,0.2);
  color: var(--accent-color);
}

/* --- Print background ----------------------- */
@media print {
  .backgrounds {
    background-color: var(--bg-color);
  }
}

/* --- Slide numbers -------------------------- */
/* These aren't usually meant to be changed. */

.reveal .slide-number {
    /* reset parent styles */
    right: initial;
    background: none;

    /* override parent styles */
    font-family: var(--main-font);
    font-size: 0.7em;
    font-weight: bold;

    color: var(--stripe-slate4);

    left: 0.4em;
    bottom: 0.4em;
}

/* --- Stripe Light --------------------------- */

html.stripe-light {
  /* Define these as their opposites to enable light mode */
  --bg-color: var(--stripe-slate9);
  --fg-color: var(--stripe-slate2);
  --accent-color: var(--stripe-cyan4);
}

html.stripe-light body {
  background-image: url(../img/background-light.png);
}

/* The stripe.theme file can't use CSS variables,
 * so we have to flip some colors manually. */
html.stripe-light div.sourceCode {
  background-color: var(--stripe-slate8);
}

html.stripe-light pre.numberSource code > span > a:first-child::before {
  color: var(--stripe-slate4);
}

html.stripe-light code span.al { color: var(--stripe-red3);    } /* Alert */
html.stripe-light code span.an { color: var(--stripe-slate3);  } /* Annotation */
html.stripe-light code span.at {                               } /* Attribute */
html.stripe-light code span.bn { color: var(--stripe-yellow3); } /* BaseN */
html.stripe-light code span.bu {                               } /* BuiltIn */
html.stripe-light code span.cf { color: var(--stripe-purple3); } /* ControlFlow */
html.stripe-light code span.ch { color: var(--stripe-yellow3); } /* Char */
html.stripe-light code span.cn { color: var(--stripe-yellow3); } /* Constant */
html.stripe-light code span.co { color: var(--stripe-slate4);  } /* Comment */
html.stripe-light code span.cv { color: var(--stripe-slate4);  } /* CommentVar */
html.stripe-light code span.do { color: var(--stripe-slate3);  } /* Documentation */
html.stripe-light code span.dt { color: var(--stripe-green3);  } /* DataType */
html.stripe-light code span.dv { color: var(--stripe-yellow3); } /* DecVal */
html.stripe-light code span.er { color: var(--stripe-red3);    } /* Error */
html.stripe-light code span.ex {                               } /* Extension */
html.stripe-light code span.fl { color: var(--stripe-yellow3); } /* Float */
html.stripe-light code span.fu { color: var(--stripe-blue3);   } /* Function */
html.stripe-light code span.im { color: var(--stripe-violet3); } /* Import */
html.stripe-light code span.in { color: var(--stripe-slate3);  } /* Information */
html.stripe-light code span.kw { color: var(--stripe-purple3); } /* Keyword */
html.stripe-light code span.op { color: var(--stripe-purple3); } /* Operator */
html.stripe-light code span.ot { color: var(--stripe-blue3);   } /* Other */
html.stripe-light code span.pp { color: var(--stripe-orange3); } /* Preprocessor */
html.stripe-light code span.sc { color: var(--stripe-red3);    } /* SpecialChar */
html.stripe-light code span.ss { color: var(--stripe-red3);    } /* SpecialString */
html.stripe-light code span.st { color: var(--stripe-yellow3); } /* String */
html.stripe-light code span.va { color: var(--stripe-blue3);   } /* Variable */
html.stripe-light code span.vs {                               } /* VerbatimString */
html.stripe-light code span.wa { color: var(--stripe-orange3); } /* Warning */
