.solarized .ansi-black-fg { color: #262626; }
.solarized .ansi-red-fg { color: #af0000; }
.solarized .ansi-green-fg { color: #5f8700; }
.solarized .ansi-yellow-fg { color: #af8700; }
.solarized .ansi-blue-fg { color: #0087ff; }
.solarized .ansi-magenta-fg { color: #af005f; }
.solarized .ansi-cyan-fg { color: #00afaf; }
.solarized .ansi-white-fg { color: #e4e4e4; }
.solarized .ansi-bright-black-fg { color: #1c1c1c; }
.solarized .ansi-bright-red-fg { color: #d75f00; }
.solarized .ansi-bright-green-fg { color: #585858; }
.solarized .ansi-bright-yellow-fg { color: #626262; }
.solarized .ansi-bright-blue-fg { color: #808080; }
.solarized .ansi-bright-magenta-fg { color: #5f5faf; }
.solarized .ansi-bright-cyan-fg { color: #8a8a8a; }
.solarized .ansi-bright-white-fg { color: #ffffd7; }
