.solarized .ansi-black-fg { color: #002b36; }
.solarized .ansi-red-fg { color: #dc322f; }
.solarized .ansi-green-fg { color: #859900; }
.solarized .ansi-yellow-fg { color: #b58900; }
.solarized .ansi-blue-fg { color: #268bd2; }
.solarized .ansi-magenta-fg { color: #d33682; }
.solarized .ansi-cyan-fg { color: #2aa198; }
.solarized .ansi-white-fg { color: #fdf6e3; }
.solarized .ansi-bright-black-fg { color: #555555; }
.solarized .ansi-bright-red-fg { color: #d75f00; }
.solarized .ansi-bright-green-fg { color: #585858; }
.solarized .ansi-bright-yellow-fg { color: #626262; }
.solarized .ansi-bright-blue-fg { color: #808080; }
.solarized .ansi-bright-magenta-fg { color: #5f5faf; }
.solarized .ansi-bright-cyan-fg { color: #8a8a8a; }
.solarized .ansi-bright-white-fg { color: #ffffd7; }
